#modal {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: bold;
  color: #213a6e;
  align-items: center;
  margin-bottom: 30px;
}

.header img {
  width: 15px;
  height: 15px;
}
