.Option {
  border-radius: 50%;
  border-width: 15px;
  border-style: solid;
  width: 120px;
  height: 120px;
  background-color: rgb(235, 235, 235);
  position: relative;
}

.Option img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
